
<%- include("../partials/header")%>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
        <h1>Add new comment to <%=camp.name%></h1>
        <div class="container d-flex justify-content-center">
            <form action="/campgrounds/<%=camp._id%>/comments" method="POST" style="width: 80%;">
              <div class="form-group d-flex flex-column mx-3 mt-3 mb-1">
                <input type="text" class="form-control mb-2"  placeholder="Text" name="comment[text]">
                <input type="submit" class="btn btn-primary mb-2">
              </div>
            </form>
          </div>
        <a href="/campgrounds">Go Back</a>

    </div>
    <div class="col-lg-3"></div>
    
</div>
</div>
<%- include("../partials/footer")%>
