<%- include("partials/header")%>

<h1>
	Signup Form
</h1>

<form action="/register" method="POST">
	<input type="text" placeholder="Name" name="username">
		<input type="text" placeholder="Password" name="password">
	<button>
		Signup
	</button>
</form>

<%- include("partials/footer")%>
